html,
body,
#root,
.app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.form {
    flex-direction: column;
    background-color: blanchedalmond;
    flex: 1;
    padding: 5px;
}

.output {
    flex-direction: column;
    background-color: cornsilk;
    flex: 1;
    padding: 5px;
}

.app-header {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-bar > p {
    font-size: x-small;
}

.emoji {
    padding-right: 5px;
}
